<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Árbol Sintáctico</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cuadro.css') }}">
</head>
<body>
    <!-- Contenedor para visualizar el árbol sintáctico -->
    <div id="treeVisualization"></div>

    <!-- Biblioteca vis.js para visualización de redes -->
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script>
        // Obtén los datos del árbol sintáctico desde Flask
        var visData = {{ vis_data | tojson | safe }};

        // Función para renderizar el árbol sintáctico con vis.js
        function renderizarArbol(data) {
            var container = document.getElementById('treeVisualization');
            var options = {
                layout: {
                    hierarchical: {
                        direction: 'UD',
                        sortMethod: 'directed'
                    }
                },
                nodes: {
                    shape: 'circle',  // Cambiar la forma de los nodos a círculo
                    color: {
                        border: 'black',
                        background: 'lightblue'
                    },
                    font: {
                        color: 'black',
                        size: 25,  // Tamaño de la fuente dentro de los nodos (en px)
                        align: 'center'  // Centrar el texto dentro de los nodos
                    },
                    size: 50,  // Tamaño del nodo (en px)
                    sizeConstraint: {
                        minimum: 30,
                        maximum: 100
                    }
                },
                edges: {
                    smooth: {
                        type: 'cubicBezier',
                        forceDirection: 'vertical',
                        roundness: 0.4
                    },
                    color: 'red',
                    size: 4
                }
            };
            var network = new vis.Network(container, data, options);
        }

        // Renderizar el árbol sintáctico al cargar la página
        document.addEventListener('DOMContentLoaded', function() {
            if (visData !== null) {
                renderizarArbol(visData);
            } else {
                console.error('No se han proporcionado datos del árbol sintáctico.');
            }
        });
    </script>
</body>
</html>
